body {
    overflow: no-content;
    background-color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0a0a0a;
}

.btn{
    border-radius: 0;
    cursor: default !important;
}

.bg-default {
    background-color: #386276 !important;
}

.bg-white {
    background-color: #FFF !important;
}

.btn-primary {
    background-color: #354052 !important;
    border-color: #354052 !important;
}

.card{
    border-radius: 0;
}

.color-red{

}

.color-white{
    color: #FFF;
}

.border{
    border: 1px solid #ff6a00;
}

.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

textarea {
    resize: none;
}