body {
    overflow: no-content;
    background-color: #323B44;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #98A6AD;
}

.btn{
    border-radius: 0;
}

.bg-default {
    background-color: #386276 !important;
}

.btn-default {
    background-color: #5D6D7E !important;
}

.color-red{

}

.color-white{
    color: #ffffff;
}

.border{
    border: 1px solid #ff6a00;
}