Career Development Portal
Read more to find out everything you need to know about The Career Development Portal (CDP).
Career Development season is right around the corner and in order to make the process as smooth as possible, EOH Coastal has created the CDP to help you capture all your Career Development information.
[Use the button below to view additional content]
Expect to hear from your managers soon regarding setting up your career development sessions.
In the meantime, please ensure that you have completed your Youlab reports as this will play a critical role in your meetings with your managers.
Please also take time to think about what you would like to achieve in your career and set out clear career goals ahead of your face-to-face meeting.

Click HERE to learn about the CDP Process and to view the User Guide.
Please note: Communications will be sent out once the Career Development Portal has gone live for you to access it.