<div class="row">
    <div class="col-11 p-1">
        <button class="btn btn-default btn-lg float-right" ng-click="toggleSideBar()">
            <i class="fas fa-times color-white"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <img class="img-fluid rounded mx-auto p-3" src="/Images/user.svg" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group" >
            <li class="p-1" ng-repeat="menuItem in getSideMenuItems()">
                <button class="btn btn-block btn-lg menu-item-btn" ng-click="expandCollapseSubMenuItems(menuItem)">
                    <span class="float-left">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="float-left ml-3">
                        {{ menuItem.DisplayName }}
                    </span>
                    <span class="float-right" >
                        <i class="fas fa-caret-square-down" ng-if="!menuItem.Collapsed"></i>
                        <i class="fas fa-caret-square-up" ng-if="menuItem.Collapsed"></i>
                    </span>
                </button>
                <ul class="list-group" ng-show="menuItem.Collapsed">
                    <li class="p-1" ng-repeat="subMenuItem in getSubSideMenuItems(menuItem.DisplayName)">
                        <button class="btn btn-block menu-subitem-btn" ng-click="navigateTo(subMenuItem)">
                            <span class="float-left">
                                <i class="fas fa-puzzle-piece"></i>
                            </span>
                            <span class="float-left ml-3">
                                {{ subMenuItem.DisplayName }}
                            </span>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<!--<div class="row">
    <div class="col-12">
        <img class="img-fluid rounded mx-auto p-3" src="/Images/user.svg" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-labeled btn-block btn-lg metismenu-a"
                        data-toggle="collapse"
                        data-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample">
                    <span class="btn-label float-left">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="float-right">
                        Espace de Travail
                    </span>
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="col-12">
                <button class="btn btn-labeled btn-block btn-md metismenu-a">
                    <span class="btn-label float-left">
                        <i class="fas fa-puzzle-piece"></i>
                    </span>
                    <span class="float-right">
                        Option 1
                    </span>
                </button>

            </div>
            <div class="col-12">
                <button class="btn btn-labeled btn-block btn-md metismenu-a">
                    <span class="btn-label float-left">
                        <i class="fas fa-puzzle-piece"></i>
                    </span>
                    <span class="float-right">
                        Option 2
                    </span>
                </button>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a class="btn btn-default btn-labeled btn-block btn-lg metismenu-a">
            <span class="btn-label float-left">
                <i class="fas fa-sliders-h"></i>
            </span>
            <span class="float-right">
                Réglage
            </span>
        </a>
    </div>
</div>-->
<!--<div class="">
        <img class="img-fluid rounded mx-auto p-3" src="/Images/user.svg" />
    <ul class="metismenu p-1" id="menu">
        <li>
            <a class="btn btn-labeled btn-block btn-lg metismenu-a">
                <span class="btn-label">
                    <i class="fas fa-home"></i>
                </span>
                Espace de Travail
            </a>
            <ul aria-expanded="true" class="metismenu-ul">
                <li class="p-1 m-1">
                    <a class="btn btn-labeled btn-block">
                        <span class="btn-label float-left">
                            <i class="fas fa-puzzle-piece"></i>
                        </span>
                        <span class="float-right">
                            Option 1
                        </span>
                    </a>
                </li>
                <li class="p-1">
                    <a class="btn btn-labeled btn-block">
                        <span class="btn-label float-left">
                            <i class="fas fa-puzzle-piece"></i>
                        </span>
                        <span class="float-right">
                            Option 2
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>-->
