<form name="createEntityForm" ng-submit="processForm(createEntityForm)" novalidate>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="float-right">
                <div ng-include="'/Components/Shared/TopBarButtonsCreateView.html'"></div>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-12 bg-white p-1">
            <div class="card border-light">
                <div class="card-header bg-white">
                    <div class="float-left">
                        <h5 class="text-muted font-weight-bold">Formulaire d'ajout d'une entité</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label ng-class="{ 'text-danger' : createEntityForm.entity_Name.$invalid && formHasBeenSubmitted }">
                                Nom <span class="required"></span>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   name="entity_Name"
                                   ng-model="entity.Name"
                                   ng-required="true"
                                   ng-class="{ 'is-invalid' : createEntityForm.entity_Name.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" 
                                 ng-messages="createEntityForm.entity_Name.$error" 
                                 ng-if="createEntityForm.entity_Name.$invalid && formHasBeenSubmitted">
                                <div ng-message="required">Veuillez fournir une valeur</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label ng-class="{ 'text-danger' : createEntityForm.entity_DisplayName.$invalid && formHasBeenSubmitted }">
                                Nom Affiche <span class="required"></span>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   name="entity_DisplayName"
                                   ng-model="entity.DisplayName"
                                   ng-required="true"
                                   ng-class="{ 'is-invalid' : createEntityForm.entity_DisplayName.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" 
                                 ng-messages="createEntityForm.entity_DisplayName.$error" 
                                 ng-if="createEntityForm.entity_DisplayName.$invalid && formHasBeenSubmitted">
                                <div ng-message="required">Veuillez fournir une valeur</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label ng-class="{ 'text-danger' : createEntityForm.entity_PluralName.$invalid && formHasBeenSubmitted }">
                                Nom Pluriel <span class="required"></span>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   name="entity_PluralName"
                                   ng-model="entity.PluralName"
                                   ng-required="true"
                                   ng-class="{ 'is-invalid' : createEntityForm.entity_PluralName.$invalid && formHasBeenSubmitted }" />
                            <div class="text-danger" 
                                 ng-messages="createEntityForm.entity_PluralName.$error" 
                                 ng-if="createEntityForm.entity_PluralName.$invalid && formHasBeenSubmitted">
                                <div ng-message="required">Veuillez fournir une valeur</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
    </div>
</form>


