<div class="row m-1">
    <div class="col-md-12 bg-white p-1">
        <div class="float-right">
            <div ng-include="'/Components/Shared/TopBarButtonsListView.html'"></div>
        </div>
    </div>
</div>
<div class="row m-1">
    <div class="col-md-12 bg-white p-1">
        <div class="card border-light">
            <div class="card-header bg-white">
                <div class="float-left">
                    <h5 class="text-muted font-weight-bold">Entités</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="all" ng-model="all">
                                        <label class="custom-control-label" for="all"></label>
                                    </div>
                                </th>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Nom Affiché
                                </th>
                                <th>
                                    Nom Pluriel
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entity in entities" ng-dblclick="read(entity)">
                                <td style="width: 5%">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="{{ entity.Id }}"
                                               ng-model="entity.Selected"
                                               ng-change="selectRecord(entity)"
                                               ng-checked="all">
                                        <label class="custom-control-label" for="{{ entity.Id }}"></label>
                                    </div>
                                </td>
                                <td style="width: 25%">
                                    {{ entity.Name }}
                                </td>
                                <td style="width: 30%">
                                    {{ entity.DisplayName }}
                                </td>
                                <td style="width: 30%">
                                    {{ entity.PluralName }}
                                </td>
                                <td style="width: 10%"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>
</div>
