<button type="submit" class="btn btn-labeled btn-success ml-1">
    <span class="btn-label">
        <i class="fas fa-pen-square"></i>
    </span>
    Enregistrer
</button>
<button type="button" class="btn btn-labeled btn-primary ml-1" ng-click="create()">
    <span class="btn-label">
        <i class="fas fa-plus-square"></i>
    </span>
    Ajouter
</button>
<button type="button" class="btn btn-labeled btn-primary ml-1" ng-click="delete()">
    <span class="btn-label">
        <i class="fas fa-trash"></i>
    </span>
    Supprimer
</button>